<template name="editWorkoutTemplate">
   <div class="outer">
      {{someValue}}
      <form id="myform">
        Session Number : {{selectedWorkout.sessionNumber}} <br/>
        Bodyweight : <input type="text" id="bodyWeight" value="{{bodyWeight}}" > <br/>
        Type : {{type}}<br/>
        Repititions : {{repetitions}}<br/>
        Effort Rating : {{effortRating}}<br/>
        {{grips.[0]}} sets: <input type="text" id="sets1" value="{{sets.[0]}}"> <br/>
        {{grips.[1]}} sets: <input type="text" id="sets2" value="{{sets.[1]}}"> <br/>
        {{grips.[2]}} sets: <input type="text" id="sets3" value="{{sets.[2]}}"> <br/>
        {{grips.[0]}} resistance: <input type="text" id="res1" value="{{resistance.[0]}}"> <br/>
        {{grips.[1]}} resistance: <input type="text" id="res2" value="{{resistance.[1]}}"> <br/>
        {{grips.[2]}} resistance: <input type="text" id="res3" value="{{resistance.[2]}}"> <br/>
        {{grips.[0]}} repMax: {{repMax.[0]}}<br/>
        {{grips.[1]}} repMax: {{repMax.[1]}}<br/>
        {{grips.[2]}} repMax: {{repMax.[2]}} <br/>
      </form>
      <button class="save">Save</button>

  </div>
</template>