
<template name="newCycleStepOneTemplate">
<div class="outer">
  <form id="myform">
    Bodyweight : <input type="text" id="bodyWeight" value="{{bodyWeight}}"/> <br/>
    Choose 3 Grips:<br/>
    <input type="checkbox" id="half_crimp"/>Half Crimp<br/>
    <input type="checkbox" id="pinch" value="true"/>Pinch<br/>
    <input type="checkbox" id="four_finger_open" value="true"/>Four Finger Open<br/>
    <input type="checkbox" id="three_finger_open" value="true"/>Three Finger Open<br/>
    <input type="checkbox" id="two_finger_open" value="true"/>Two Finger Open<br/>
  </form>
  <button class="next">Next</button>
  </div>
</template>

<template name="newCycleStepTwoTemplate">
<div class="outer">
  <form id="myform">
    Grip 1 HangTime :  <input type="text" id="bodyWeight" value="{{bodyWeight}}"/> <br/>
    Grip 2 HangTime  : <input type="text" id="bodyWeight" value="{{bodyWeight}}"/> <br/>
    Grip 3 HangTime  : <input type="text" id="bodyWeight" value="{{bodyWeight}}"/> <br/>
  </form>
  <button class="next">Next</button>
  </div>
</template>
