<template name="workoutTemplate">
  <tr class="workout {{selected}}">
    <td><input type="checkbox" checked="{{checked}}" class="toggle-checked" /></td>
    <td><span class="score">{{date}}</span></td>
    <td><span class="score">{{bodyWeight}}</span></td>
    <td><span class="score">{{type}}</span></td>
    <td><span class="score">{{repetitions}}</span></td>
    <td><span class="score">{{effortRating}}</span></td>

    <!-- TODO @kerwinloukusa,@rbalakrishnan Refactor and make this a loop-->
    <td><span class="score">{{this.sets.[0]}}</span></td>
    <td><span class="score">{{this.resistance.[0]}}</span></td>
    <td><span class="score">{{this.repMax.[0]}}</span></td>

    <td><span class="score">{{this.sets.[1]}}</span></td>
    <td><span class="score">{{this.resistance.[1]}}</span></td>
    <td><span class="score">{{this.repMax.[1]}}</span></td>

    <td><span class="score">{{this.sets.[2]}}</span></td>
    <td><span class="score">{{this.resistance.[2]}}</span></td>
    <td><span class="score">{{this.repMax.[2]}}</span></td>
    <td><button class="delete-workout">&times;</button></td>
  </tr>
</template>