<template name="newCycleSetTemplate">
  <div class="row">
        <div class="twelve columns text-center">
          <h1><a href="/"><img src="robot_title_c.jpg" style="max-height:140px; max-width:100%;"></a></h1>
        </div>
      </div>
        <div class="row">
        <div class="five columns"></div>
        <div class="two columns text-center">

		We will now gather some data that can be used to 
		generate workouts in the future. Using the grips that
		you selected in the previous page, we will preform hangs 
		of 7 seconds long, seperated by 3 seconds of rest until 
		you reach failure. The app will then ask how many reps 
		you performed, and proceed to the next grip.

		<br>
		<br>


		<button class="button radius"  id="start-sets">Start Set</button>
		</div>
		 <div class="five columns"></div>
	
	</div>  
</template>