<template name="newWorkoutTemplate">
  <div class="outer">
  <a href="/">
    <div class="logo-img-contain">
      <img class="img" src="robot_title_bw.jpg">
    </div>
  </a>
  
  	  <br>
  	  <div class="form-container">
	  <form id="newWorkoutForm" data-parsley-validate>
	    <label for="bodyWeight">Body Weight:</label>
	    <input class="input" type="text" id="bodyweight" data-parsley-range="[40,300]" data-parsley-type="digits" value="{{bodyWeight}}" data-parsley-required="true" style="width: 50px;" >
	    <br>

	    <span class="next btn btn-info pull-left">Submit</span> 
	  </form>
	  </div>
 
  </div>
</template>