<template name="setTemplate">
  <div class="row">
        <div class="twelve columns text-center">
          <h1><a href="/"><img src="robot_title_c.jpg" style="max-height:140px; max-width:100%;"></a></h1>
        </div>
      </div>
        <div class="row">
        <div class="twelve columns text-center">
  <table class="table table-striped table-bordered table-condensed" >
		 
		 <tr>
		 <td>Your Current Grip is : </td>
		 <td>{{currentGrip}}</td>
		 </tr>

		  <tr>
		 <td>Your Current Res is: </td>
		 <td>{{currentRes}}</td>
		 </tr>
	
		  <tr>
		 <td>Your RPE Working Level is : </td>
		 <td>{{currentRPE}}</td>
		 </tr>
	
		  <tr>
		 <td>Rest Timer : </td>
		 <td>{{minutes}} : {{seconds}}</td>
		 </tr>


  </table>
  <button class="button radius"  id="start-set">Start Set</button>
  </div>
	
	</div>  
</template>