<template name="timerTemplate">
  <div class="row">
        <div class="twelve columns text-center">
          <h1><a href="/"><img src="robot_title_c.jpg" style="max-height:140px; max-width:100%;"></a></h1>
        </div>
      </div>
        <div class="row">
        <div class="twelve columns text-center">
  <table id="iseqchart" class="table table-striped table-bordered table-condensed" >
		 
  		 <tr>
		 <td>You currently are in: </td>
		 <td> {{workMode}}</td>
		 </tr>


		 <tr>
		 <td>Seconds Left: </td>
		 <td> {{time}}</td>
		 </tr>

		 <tr>
		 <td>Repititions Left: </td>
		 <td>{{reps}}</td>
		 </tr>

</table>
		<button class="button radius" id="high-effort">High Effort</button>
		<br>
		<br>
 		<button class="button radius" id="max-effort">Max Effort</button>
 		</div>
	</div>  
</template>