<template name="timerTemplate">
	<div class="outer">

		  <a href="/">
    <div class="logo-img-contain">
      <img class="img" src="robot_title_bw.jpg">
    </div>
  </a>
<div class="form-container">
  <table class="table table-striped table-bordered table-condensed" >
		 
  		 <tr>
		 <td>You currently are in: </td>
		 <td> {{workMode}}</td>
		 </tr>


		 <tr>
		 <td>Seconds Left: </td>
		 <td> {{time}}</td>
		 </tr>

		 <tr>
		 <td>Repititions Left: </td>
		 <td>{{reps}}</td>
		 </tr>

</table>
		<button class="next btn btn-info pull-right" id="high-effort">High Effort</button>
		<br>
		<br>
 		<button class="next btn btn-info pull-right" id="max-effort">Max Effort</button>
 		</div>
	</div>  
</template>