<template name="workoutViewTemplate">
    <link type="text/css" media="screen" rel="stylesheet" href="responsive-tables.css" />
<script type="text/javascript" src="responsive-tables.js"></script>

    <div class="row">
        <div class="twelve columns text-center">
          <h1><a href="/"><img src="robot_title_c.jpg" style="max-height:140px; max-width:100%;"></a></h1>
        </div>
      </div>
        <div class="row">
        <div class="twelve columns text-center">
    
  {{#with workouts}}
    {{#if count}}

      <table class="responsive">
        <thead>
          <tr>
          <th id="sesionNumber">Session</th>
          <th id="date">Date</th>
          <th id="bodyWeight">Body Weight</th>
          <th id="reps">Reps</th>
          <th id="grip1sets">Grip 1 sets</th>
          <th id="grip1res">Grip 1 res</th>
          <th id="grip1rm">Grip 1 1RM</th>

          <th id="grip2sets">Grip 2 sets</th>
          <th id="grip2res">Grip 2 res</th>
          <th id="grip2rm">Grip 2 1RM</th>

          <th id="grip3sets">Grip 3 sets</th>
          <th id="grip3res">Grip 3 res</th>
          <th id="grip3rm">Grip 3 1RM</th>
          <th id="delete"></th>
        </tr>
        </thead>

        <tbody>
        {{#each workouts}}
        {{> workoutTemplate}}
        {{/each}}
        </tbody>
      </table>

        

    {{else}}
<button class="button radius" id="new-cycle">New Cycle</button>
  
       
    {{/if}}
                
          {{#if selectedWorkout}}
 
        
          <button class="button radius" id="edit-workout">Edit Workout</button>       
        {{else}}


      {{/if}}
  {{/with}}
  <br>
  <br>
    <button class="button radius" id="new-workout">New Workout</button>
  
  
</div> 
  </div>  
</template>