<template name="workoutTemplate">
  <tr class="workout {{selected}}">
    <td><span class="sessionNumber">{{sessionNumber}}</span></td>
    <td><span class="date">{{date}}</span></td>
    <td id="bodyWeight">{{bodyWeight}}</td>
    <td><span class="type">{{type}}</span></td>
    <td><span class="repetitions">{{repetitions}}</span></td>
    <td><span class="effortRating">{{effortRating}}</span></td>

    <!-- TODO @kerwinloukusa,@rbalakrishnan Refactor and make this a loop-->
    <td><span id="sets[0]">{{this.sets.[0]}}</span></td>
    <td id="resistance[0]">{{this.resistance.[0]}}</td>
    <td id="repMax1">{{this.repMax.[0]}}</td>

    <td><span class="sets[1]">{{this.sets.[1]}}</span></td>
    <td><span class="resistance[1]">{{this.resistance.[1]}}</span></td>
    <td><span class="repMax[1]">{{this.repMax.[1]}}</span></td>

    <td><span class="sets[2]">{{this.sets.[2]}}</span></td>
    <td><span class="resistance[0]">{{this.resistance.[2]}}</span></td>
    <td><span class="repMax[2]">{{this.repMax.[2]}}</span></td>
    <td><button class="delete">&times;</button></td>
  </tr>
</template>