<template name="workoutViewTemplate">

<div class="outer">
    <a href="/">
    <div class="logo-img-contain">
      <img class="img" src="robot_title_c.jpg">
    </div>
  </a>
    <div class="subtitle"></div>
    
  {{#with workouts}}
    {{#if count}}

      <table id="iseqchart" class="table table-striped table-bordered table-condensed" >
        <thead>
          <tr>
          <th id="sesionNumber">Session</th>
          <th id="date">Date</th>
          <th id="bodyWeight">Body Weight</th>
          <th id="reps">Reps</th>
          <th id="grip1sets">Grip 1 sets</th>
          <th id="grip1res">Grip 1 res</th>
          <th id="grip1rm">Grip 1 1RM</th>

          <th id="grip2sets">Grip 2 sets</th>
          <th id="grip2res">Grip 2 res</th>
          <th id="grip2rm">Grip 2 1RM</th>

          <th id="grip3sets">Grip 3 sets</th>
          <th id="grip3res">Grip 3 res</th>
          <th id="grip3rm">Grip 3 1RM</th>
          <th id="delete"></th>
        </tr>
        </thead>

        <tbody>
        {{#each workouts}}
        {{> workoutTemplate}}
        {{/each}}
        </tbody>
      </table>

        

    {{else}}
        <div class="container">
        <button class="btn btn-mini"  id="new-cycle">New Cycle</button>
        </div>
    {{/if}}
                
          {{#if selectedWorkout}}
          <div class="container">  
          <button class="btn btn-mini" id="edit-workout">Edit Workout</button>
            </div>
        {{else}}


      {{/if}}
  {{/with}}
  
  <div class="container">
  <button class="btn btn-mini"  id="new-workout">New Workout</button>
  </div>

  </div>  
</template>